name: CI

on:
  pull_request:
  # Enable running CI from the GitHub GUI (see https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#workflow_dispatch)
  workflow_dispatch:

jobs:
  tests:
    name: Tests (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-latest, windows-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Ubuntu: system libraries installed before Python envs are made
      - name: Ubuntu runtime libraries
        if: runner.os == 'Linux'
        shell: bash
        run: bash .github/scripts/ubuntu_runtime_deps.sh
       
      - name: Install Nox
        uses: wntrblm/nox@2024.03.02
        with:
          python-versions: "3.9, 3.10"
      
      # Run tests

      # Linux requires a virtual dispaly for wx.App()
      - name: Run tests (Ubuntu Linux under Xvfb)
        if: runner.os == 'Linux'
        run: xvfb-run -a nox -s tests --verbose
      
      - name: Run tests (macOS/Windows)
        if: runner.os != 'Linux'
        run: nox -s tests --verbose
            
        